
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/vendor/
/.data/
/.idea/
###< symfony/framework-bundle ###
